---
import { getTeam } from "../api/torneoPal";
import Layout from "../layouts/Layout.astro";
import { TeamDetails, teams } from "../types";
import PlayersStats from "../components/PlayersStats.astro";
import { parsePlayersFromTeams } from "../utils/parsePlayersFromTeams";

const teamResponses = await Promise.all(
  teams.map(({ id, categoryId }) => getTeam(id, categoryId))
);

const teamDetails: TeamDetails[] = teamResponses.map(({ team }) => ({
  id: team.team_id,
  players: team.players
    .filter(({ matches }) => parseInt(matches, 10) > 0)
    .sort((a, b) => (b.first_name > a.first_name ? -1 : 1))
    .sort((a, b) => (b.birthyear > a.birthyear ? -1 : 1))
    .map((player) => ({
      id: player.player_id,
      name: `${player.first_name} ${player.last_name.substring(0, 1)}.`,
      birthyear: parseInt(player.birthyear, 10),
      [team.team_id]: {
        matches: parseInt(player.matches, 10),
        goals: parseInt(player.goals, 10),
      },
    })),
}));

const players = parsePlayersFromTeams(teamDetails);
---

<Layout title="T10-11 tilastot">
  <main>
    <PlayersStats players={players} />
    <br />
    Yhteensä: {players.length} pelaajaa
  </main>
</Layout>
